{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <h1 class = "align"> <b>Sign In</b></h1>
    <br>
    <h3 class = "align"> Veuillez entrer le login personnel qui vous a été fourni pour faire cette enquête. </h3>
    <br>
    <div class = "align", class="row">
        <h3 class = "blocktext ", class="col-md-4">
            {{ wtf.quick_form(form) }}
        </h3>
    </div>
{% endblock %}
