<div class="recommendations">
    <table class="table table-borderless" style="width: 100%;">
        {% for reco in reco_list %}
            {% if loop.index0 % 5 == 0 %}
                <tr>
            {% endif %}
            
            <td ALIGN="CENTER" style="width:20%;">
                <img src="{{ url_for('static', filename='img/product/prod_{}.jpg'.format(reco.id)) }}" height="250px">
                <h3><b><a class="titlecolor" href="{{ url_for('main.product', name=reco.name) }}">{{ reco.name }}</a></b></h3>
                <table class="table table-borderless">
                    <tr>
                        <td style="width:50%;">
                            <h4 class="titlecolor"><b>{{ reco.price }}</b></h4>
                        </td>
                        <td style="width:50%;" ALIGN="CENTER">
                            <img src="{{ url_for('static', filename='img/nutri_{}.jpg'.format(reco.nutri_score)) }}" height="60px">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h4 class="titlecolor"><b>Protéines:</b> {{ reco.protein }}</h4>
                            <h4 class="titlecolor"><b>Légumes:</b> {{ reco.vegetables }}</h4>
                            <h4 class="titlecolor"><b>Féculents:</b> {{ reco.starches }}</h4>
                            <h4 class="titlecolor"><b>Produits laitiers:</b> {{ reco.dairy_products }}</h4>
                            <h4 class="titlecolor"><b>Sauce:</b> {{ reco.sauce }}</h4>
                        </td>
                    </tr>
                </table>
            </td>

            {% if loop.index0 % 5 == 4 or loop.last %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>