{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <meta charset="utf-8">
    <script src="static/js/S4B_star.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="static/css/S4C_star.css">
{% endblock %}

{% block title %}
    DELCam
{% endblock %}

{% block navbar %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <nav class = "firstnavbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.recommendation') }}"> <img src="{{ url_for('static', filename='img/logo.jpg')}}" height="75px"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li><h1 class = "pnavbut"> <b></b></h1></a></li>
                    <br><br><br><br><br>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <br>
                    </li>
                    <li><h1 class = "pnavbut"> <b></b></h1></li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="secondnavbar">
        <div class="mx-auto">
            <div class="container text-center" > <!-- Ajout de text-center ici -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- Contenu séparé du ul, balises correctement utilisées -->
                    <h1 class="identtext">Please rate each product on a scale of 1 to 5 stars. Hellooooooo</h1>
                    <br>
                    <p class="identtextbis"><b>1 star</b> means that the product does not match your preferences</p>
                    <p class="identtextbis"><b>5 stars</b> mean that the product perfectly matches your preferences</p>
                    <br>
                    <p class="identtextbisbis" style="color: white;">
                       Please <strong style="color: red;">click</strong> directly on the star scale so that your rating is recorded.
                    </p>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
{% endblock %}

{% block scripts %}
    {# script content needs to be provided in the script block #} 
{% endblock %}
