{% extends "main/base_navigate.html" %}

{% block app_content %}
<div ALIGN="CENTER" style="float:left;width:75%;">
    <h1 class="titlecolor"><p><b>Mon panier d'achat :</b></p></h1>
    {% for p in cart_products %}
    <p>
        <div class="recommendations">
            <table class="table table-hover">
                <tr>
                    <td width="200px" ALIGN="CENTER" style="float:left;width:50%;">
                        <br>
                        <img src="{{ url_for('static', filename='img/product/prod_{}.jpg'.format(p.id)) }}" height="300px">
                        <br><br>
                        <img src="{{ url_for('static', filename='img/nutri_{}.jpg'.format(p.nutri_score)) }}" height="60px">
                    </td>
                    <td style="float:left;width:30%;">
                        <h2><b><a class="titlecolor" href="{{ url_for('main.product', name=p.name) }}">{{ p.name }}</a></b></h2> 
                        <h4 class="titlecolor"><b>{{ p.price }}</b></h4>
                        <br>
                        <h4 class="titlecolor"><b>Protéines :</b> {{ p.protein }}</h4>
                        <h4 class="titlecolor"><b>Légumes :</b> {{ p.vegetables }}</h4>
                        <h4 class="titlecolor"><b>Féculents :</b> {{ p.starch }}</h4> 
                        <h4 class="titlecolor"><b>Produits laitiers :</b> {{ p.dairy_products }}</h4>
                        <h4 class="titlecolor"><b>Sauce :</b> {{ p.sauce }}</h4>
                    </td>
                    <td style="float:left;width:20%;">
                        {% if current_user.has_bought(p) %}
                        <br><br><br><br><br><br><br><br>
                        <p>
                            <form action="{{ url_for('main.unpurchasecart', name=p.name) }}" method="post">
                                {{ form1.hidden_tag() }}
                                <span aria-hidden="true">{{ form1.submit(value='Retirer de mon panier', class_='btn btn-success mb-2 btn-lg') }}</span>
                            </form>
                        </p>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </p>
    {% endfor %}
</div>

<div ALIGN="CENTER" style="float:left;width:25%;">
    <br><br><br><br><br><br>

    {% set number_of_products = cart_products|length %}

    {% if number_of_products == 5 %}
    <p>
        <a href="{{ url_for('main.reminderreco') }}">
          <button class="btn btn-success mb-2 btn-lg w-100" style="padding: 30px; font-size: 3rem;">
            Finir et valider mon panier
          </button>
        </a>
    </p>
{% elif number_of_products < 5 %}
    <p>
        <button type="button" class="btn btn-secondary btn-lg" style="background-color:#ffc107; border-color:#ffc107; cursor:not-allowed; padding: 25px; font-size: 2.5rem;">
            <strong>
                Merci d'ajouter {{ 5 - number_of_products }} article{{ 's' if (5 - number_of_products) > 1 else '' }} pour valider votre panier
            </strong>
        </button>
    </p>
{% else %}
    <p>
        <button type="button" class="btn btn-secondary btn-lg" style="background-color:#dc3545; border-color:#dc3545; cursor:not-allowed;padding: 25px; font-size: 2.5rem;">
            <strong>
                Merci de retirer {{ number_of_products - 5 }} article{{ 's' if (number_of_products - 5) > 1 else '' }} pour valider votre panier
            </strong>
        </button>
    </p>
{% endif %}
</div>
{% endblock %}
