{% extends "main/base_navigate.html" %}

{% block app_content %}
    <div ALIGN="CENTER", style="float:left;width:60%;">
        <h1 class = "titlecolor"><p><b> Mon panier </b> </p></h1>
        {% for p in cart_products %}
        <p>
            <div class ="recommendations">
                <table class="table table-hover">
                    <tr>
                        <td width="200px", ALIGN="CENTER", style="float:left;width:40%;">
                            <br>
                            <img src="{{ url_for('static', filename='img/prod_{}.jpg'.format(p.image))}}"  height="160px">
                            <br>
                            <br>
                            <img src="{{ url_for('static', filename='img/nutri_{}.jpg'.format(p.nutri_score))}}"  height="60px">
                        </td>
                        <td style="float:left;width:30%;">
                            <h1><b><a class = "titlecolor", href="{{ url_for('main.product', name=p.name) }}">{{p.name}}</a></b></h1> 
                            <h3 class = "titlecolor"> {{p.price}}</h3>
                            <br>
                            <p>
                                Petite discription du produit
                            </p>
                        </td>
                        <td style="float:left;width:30%;">
                            {% if current_user.has_bought(p) %}
                            <br>
                            <br>
                            <br>
                            <br> 
                            <p><form action="{{ url_for('main.unpurchase', name= p.name) }}" method="post">
                                {{ form1.hidden_tag() }}
                                <span aria-hidden="true">{{ form1.submit(value='Remove from cart', class_='btn btn-success mb-2 btn-lg')}}</span>
                            </form></p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </p>
        {% endfor %}
    </div>
    <div ALIGN="CENTER", style="float:left;width:25%;">
        <br>
        <br>
        <p><form action="{{ url_for('auth.close')}}" method="post">
            {{ form2.hidden_tag() }}
            <span aria-hidden="true">{{ form2.submit(value='Finish and go to the survey', class_='btn btn-success mb-2 btn-lg')}}</span>
        </form></p>
    </div>
</tr>
{% endblock %}
