{% extends "main/base_navigate.html" %}

{% block app_content %}
    <br>
    <br>
    <div class ="recommendations">
        <table class= "table table-borderless">
            <tr>
                <td ALIGN="CENTER", style="float:left;width:30%;">
                    <br>
                    <br>
                    <img src="{{ url_for('static', filename='img/prodnew/meal_{}.jpg'.format(product.id))}}"  height="300px">
                    <br>
                    <br>
                    <img src="{{ url_for('static', filename='img/nutri_{}.jpg'.format(product.nutri_score))}}"  height="70px">
                </td>
                <td ALIGN="CENTER", style="float:left;width:50%;">
                    <h1 class = "titlecolor"><b>{{ product.name}}</b></h1>
                    <table class= "table table-borderless">
                        <tr>
                            <td>
                                <h4 class="titlecolor"><b>£{{ product.price}}0</b></h4>
                                <br>
                                <h4 class="titlecolor"> <b>Protéines:</b> {{ product.protein }}</h4>
                                <h4 class="titlecolor"> <b>Légumes:</b> {{ product.vegetables }}</h4>
                                <h4 class="titlecolor"> <b>Féculents:</b> {{ product.starches }}</h4>
                                <h4 class="titlecolor"> <b>Produits laitiers:</b> {{ product.dairy_products }}</h4>
                                <h4 class="titlecolor"> <b>Sauce:</b> {{ product.sauce }}</h4>
                            </td>
                            <td ALIGN="CENTER", style="float:left;width:30%;">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                {% if current_user.has_bought(product) %}
                                    <p>
                                        <form action="{{ url_for('main.unpurchaseproduct', name=product.name) }}" method="post">
                                             {{ form.hidden_tag() }}
                                            <span aria-hidden="true">{{ form.submit(value='Retirer de mon panier', class_='btn btn-success mb-2 btn-lg') }}</span>
                                        </form>
                                    </p>
                                {% else %}
                                    <form action="{{ url_for('main.purchase', name=product.name) }}" method="post">
                                        {{ form.hidden_tag() }}
                                        {{ form.submit(value='Ajouter à mon panier', class_='btn btn-success mb-2 btn-lg') }}
                                    </form>   
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="float:left;width:20%;"></td>
            </tr>
        </table>
    </div>
    <hr>
    <div> 
        {% include 'main/_recommendation.html' %}
    </div>
{% endblock %}
                 