{% extends "main/base_navigate.html" %}

{% block app_content %}
    <br>
    <br>
    <div class ="recommendations">
        <table class= "table table-borderless">
            <tr>
                <td ALIGN="CENTER", style="float:left;width:40%;">
                    <br>
                    <br>
                    <img src="{{ url_for('static', filename='img/product/prod_{}.jpg'.format(product.id))}}"  height="200px">
                    <br>
                    <br>
                    <img src="{{ url_for('static', filename='img/nutri_{}.jpg'.format(product.nutri_score))}}"  height="50px">
                </td>
                <td ALIGN="CENTER", style="float:left;width:30%;">
                    <h1 class = "titlecolor"><b>{{ product.name}}</b></h1>
                    <table class= "table table-borderless">
                        <tr>
                            <td>
                                <h2 class="titlecolor">{{ product.price}}</h2>
                            </td>
                            <td ALIGN="CENTER">
                                <br>
                                <a>
                                    <form action="{{ url_for('main.purchase', name= product.name) }}" method="post">
                                        {{ form.hidden_tag() }}
                                        <span aria-hidden="true">{{ form.submit(value='Add to cart', class_='btn btn-success mb-2 btn-lg')}}</span>
                                    </form>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    {{ product.description }}
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="float:left;width:30%;"></td>
            </tr>
        </table>
    </div>
    <hr>
    <div> 
        {% include 'main/_recommendation.html' %}
    </div>
{% endblock %}
                 