{% extends "main/base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td ALIGN="CENTER", style="float:left;width:50%;">
                <img src="{{ url_for('static', filename='prod_{}.jpg'.format(product.image))}}"  height="256px" width="300px">
                <br>
                <br>
                <img src="{{ url_for('static', filename='nutri_{}.jpg'.format(product.nutri_score))}}"  height="70px" width="100px">
            </td>
            <td style="float:left;width:50%;">
                <h1 class = "titlecolor"><b>{{ product.name}}</b></h1>
                <h2> {{ product.price}}</h2>
                <p> <b> Composition : </b>
                    <ul>
                        <li>{{ product.feature_1}}</li>
                        <li>{{ product.feature_2}}</li>
                        <li>{{ product.feature_3}}</li>
                    </ul>
                </p>
                <a>
                    <form action="{{ url_for('main.purchase', name= product.name) }}" method="post">
                        {{ form.hidden_tag() }}
                        <span aria-hidden="true">{{ form.submit(value='Add to cart', class_='btn btn-success mb-2 btn-lg')}}</span>
                    </form>
                </a>
            </td>
        </tr>
    </table>
    <hr>
    <div> 
        <h2><b>Here are the products we recommend to you :</b></h2>
        <table class="table table-hover">
            <tr>
                <td ALIGN="CENTER", style="float:left;width:20%;">
                    <img src="{{ url_for('static', filename='prod_1.jpg')}}"  height="250px" width="300px">
                    <h3><b><a class = "titlecolor", href="{{ url_for('main.product', name=reco1.name) }}">{{reco1.name}}</a></b></h3> 
                    <h4> {{ reco1.price}}</h4>
                    <a>
                        <form action="{{ url_for('main.purchase', name= reco1.name) }}" method="post">
                            {{ form.hidden_tag() }}
                            <span aria-hidden="true">{{ form.submit(value='Add to cart', class_='btn btn-success mb-2 btn-lg')}}</span>
                        </form>
                    </a>
                </td>
                <td ALIGN="CENTER", style="float:left;width:20%;">
                    <img src="{{ url_for('static', filename='prod_2.jpg')}}"  height="250px" width="300px">
                    <h3><b><a class = "titlecolor", href="{{ url_for('main.product', name=reco2.name) }}">{{reco2.name}}</a></b></h3> 
                    <h4> {{ reco2.price}}</h4>
                    <a>
                        <form action="{{ url_for('main.purchase', name= reco2.name) }}" method="post">
                            {{ form.hidden_tag() }}
                            <span aria-hidden="true">{{ form.submit(value='Add to cart', class_='btn btn-success mb-2 btn-lg')}}</span>
                        </form>
                    </a>
                </td>
                <td ALIGN="CENTER", style="float:left;width:20%;">
                    <img src="{{ url_for('static', filename='prod_3.jpg')}}"  height="250px" width="300px">
                    <h3><b><a class = "titlecolor", href="{{ url_for('main.product', name=reco3.name) }}">{{reco3.name}}</a></b></h3> 
                    <h4> {{ reco3.price}}</h4>
                    <a>
                        <form action="{{ url_for('main.purchase', name= reco3.name) }}" method="post">
                            {{ form.hidden_tag() }}
                            <span aria-hidden="true">{{ form.submit(value='Add to cart', class_='btn btn-success mb-2 btn-lg')}}</span>
                        </form>
                    </a>
                </td>
                <td ALIGN="CENTER", style="float:left;width:20%;">
                    <img src="{{ url_for('static', filename='prod_4.jpg')}}"  height="250px" width="300px">
                    <h3><b><a class = "titlecolor", href="{{ url_for('main.product', name=reco4.name) }}">{{reco4.name}}</a></b></h3> 
                    <h4> {{ reco4.price}}</h4>
                    <a>
                        <form action="{{ url_for('main.purchase', name= reco4.name) }}" method="post">
                            {{ form.hidden_tag() }}
                            <span aria-hidden="true">{{ form.submit(value='Add to cart', class_='btn btn-success mb-2 btn-lg')}}</span>
                        </form>
                    </a>
                </td>
                <td ALIGN="CENTER", style="float:left;width:20%;">
                    <img src="{{ url_for('static', filename='prod_5.jpg')}}"  height="250px" width="300px">
                    <h3><b><a class = "titlecolor", href="{{ url_for('main.product', name=reco5.name) }}">{{reco5.name}}</a></b></h3> 
                    <h4> {{ reco5.price}}</h4>
                    <a>
                        <form action="{{ url_for('main.purchase', name= reco5.name) }}" method="post">
                            {{ form.hidden_tag() }}
                            <span aria-hidden="true">{{ form.submit(value='Add to cart', class_='btn btn-success mb-2 btn-lg')}}</span>
                        </form>
                    </a>
                </td>
            </tr>
         </table>
    </div>
{% endblock %}
                 