<!DOCTYPE html>
<html>
  <head>
    <title>Rate your products</title>
    <meta charset="utf-8">
    <script src="static/S4B_star.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="static/S4C_star.css">
  </head>
  <body>
    <!-- (A) DUMMY PRODUCT -->
    <h1>Hi, User {{ current_user.code }}!</h1>
    <div >
      <table>
        <tr>
          <td>
            <img class="img" src="{{ url_for('static', filename='prod_{}.jpg'.format(produit1.image))}}">
          </td>
          <td>
            <div class="name"> {{ produit1.name }}</div>
            <div class="desc">
              <p> {{ produit1.price }} </p>
              <p> {{ produit1.feature_1 }} </p>
              <p> {{ produit1.feature_2 }} </p>
              <p> {{ produit1.feature_3 }} </p>
              <img class="img" src="{{ url_for('static', filename='nutri_{}.jpg'.format(produit1.nutri_score))}}">
          </div>
          </td>
          <td>
            <div class="rate">Your rating: <div id="{{ produit1.id }}">
            </div></div>
            <br>
          </td>
        </tr>

      <!--second product-->
      <tr>
        <td>
          <img class="img" src="{{ url_for('static', filename='prod_{}.jpg'.format(produit2.image))}}">
        </td>
        <td>
          <div class="name"> {{ produit2.name }}</div>
          <div class="desc">
            <p> {{ produit2.price }} </p>
            <p> {{ produit2.feature_1 }} </p>
            <p> {{ produit2.feature_2 }} </p>
            <p> {{ produit2.feature_3 }} </p>
            <img class="img" src="{{ url_for('static', filename='nutri_{}.jpg'.format(produit2.nutri_score))}}">
        </div>
        </td>
        <td>
          <div class="rate">Your rating: <div id="{{ produit2.id }}">
          </div></div>
          <br>
        </td>
      </tr>

      </table>
    </div>
    <!-- (B) INIT STAR RATING -->
    <script>
    starry({
      target: document.getElementById("{{ produit1.id }}"),
      max: 5,
      now: {{ ustar }},
      click : stars => {
        let data = new FormData();
        data.append("stars", stars);
        data.append("product_id", "{{ produit1.id }}");
        fetch("/save/", {
          method: "post",
          body: data
        })
        .then(res => res.text())
        .then(txt => {
          if (txt == "OK") { location.reload(); }
          else { alert(txt); }
        });
      }
    });
    starry({
      target: document.getElementById("{{ produit2.id }}"),
      max: 5,
      now: {{ ustarbis }},
      click : stars2 => {
        let data = new FormData();
        data.append("stars", stars2);
        data.append("product_id", "{{ produit2.id }}");
        fetch("/save/", {
          method: "post",
          body: data
        })
        .then(res => res.text())
        .then(txt => {
          if (txt == "OK") { location.reload(); }
          else { alert(txt); }
        });
      }
    });
    </script>
    <br>
    <div>
      {% if not current_user.is_anonymous %}
      <a href="{{ url_for('auth.close')}}"> Finir l'expérimentation et aller vers l'enquête</a>
      {% endif %}
  </div>
  </body>
</html>