{% extends "main/base_rate.html" %}

{% block content %}

  <body>

    <h1 class = "titlecolor"> Hi, User {{ current_user.code }}! Could you please rate the following products ? </h1>
    {% for product in products %}
    <div>
        <p>
            <table class="table table-hover">
                <tr>
                    <td width="200px", ALIGN="CENTER", style="float:left;width:40%;">
                        <br>
                        <br>
                        <img src="{{ url_for('static', filename='img/prod_{}.jpg'.format(product.image))}}"  height="160px">
                    </td>
                    <td style="float:left;width:40%;">
                        <h2><b><a class = "titlecolor", href="{{ url_for('main.product', name=product.name) }}">{{product.name}}</a></b></h2> 
                        <h2> {{product.price}}</h2>
                        <br>
                        <img src="{{ url_for('static', filename='img/nutri_{}.jpg'.format(product.nutri_score))}}"  height="80px">
                        <div class="rate">
                        <h2><b>Your rating : </b></h2> 
                          <div id="{{ product.id }}"></div>
                      </div>
                    </td>
                </tr>
            </table>
        </p>
    </div>
    {% endfor %}

    <br>
    <div>
      {% if not current_user.is_anonymous %}
      <a href="{{ url_for('auth.close')}}"> Finir l'expérimentation et aller vers l'enquête</a>
      {% endif %}
  </div>
  </body>
{% endblock %}


{% block scripts %}

  <script>
    
    // Define a function to handle star clicks
    function handleStarClick(stars, productId) {
        let data = new FormData();
        data.append("stars", stars);
        data.append("product_id", productId);
        fetch("/save/", {
            method: "post",
            body: data
        })
        .then(res => res.text())
        .then(txt => {
            if (txt == "OK") { location.reload(); }
            else { alert(txt); }
        });
    }

    // Loop through products and ratings arrays
    {% for i in range(products|length) %}
        starry({
          target: document.getElementById("{{ products[i].id }}"),
          max: 5,
          now: {{ ratings[i] }},
          click: stars => handleStarClick(stars, "{{ products[i].id }}")
        });
    {% endfor %}

  </script>
{% endblock %}


