{% extends "main/base_rate.html" %}

{% block content %}

  <body>
    <br>
    <br>
    <br>
    {% for product in products %}
    <div class ="recommendations">
        <p>
          <table class="table table-borderless">
            <tr>
                <!-- Product Image Display -->
                <td width="200px" ALIGN="CENTER" style="float:left;width:40%;">
                    <br><br><br><br>
                    <img src="{{ url_for('static', filename='img/product/prod_{}.jpg'.format(product.id))}}" height="300px">
                    <br><br>
                </td>
        
                <!-- Product Details (Name, Price, Nutri-Score) -->
                <td ALIGN="LEFT" style="float:left;width:60%;">
                    <h2><b>{{ product.name }}</b></h2>
                    <br>
                    <table class="table table-borderless">
                        <tr>
                            <td style="float:left;width:50%;">
                                <h4 class="titlecolor"><b>{{ product.price }}</b></h4>
                                <p> <b>Ingrédients : </b></p>
                                <ul>
                                    <li><b>Protéines:</b> {{ product.protein }}</li>
                                    <li><b>Légumes:</b> {{ product.vegetables }}</li>
                                    <li><b>Féculents:</b> {{ product.starches }}</li>
                                    <li><b>Produits laitiers:</b> {{ product.dairy_products }}</li>
                                    <li><b>Sauce:</b> {{ product.sauce }}</li>
                                </ul>
                                <br>
                                <img src="{{ url_for('static', filename='img/nutri_{}.jpg'.format(product.nutri_score)) }}" height="75px">
                            </td>
                            <td ALIGN="CENTER" style="float:left;width:50%;">
                            </td>
                        </tr>
                        <table class="table table-borderless">
                          <tr>
                            <h3 class="titlecolor"><b>Votre note:</b></h3>
                          </tr>
                          <tr>
                              <div class="rate">
                              <div class="staridenttext" id="{{ product.id }}"></div>
                              </div>
                          </tr>
                      </table>
                    </table>
                </td>
            </tr>
        </table>  
        </p>
      </div>
    {% endfor %}

    <br>
    <div>
      {% if not current_user.is_anonymous %}
      <nav class="secondnavbar">
        <div class="mx-auto">
            <div class="container">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <br>
                    <ul class="nav navbar-nav">
                      {% if unrated_products %}
                      <p class="identtext">Certains produits n'ont pas encore été évalués. </p>
                      <p class="identtext">Veuillez évaluer tous les produits avant de passer à l'enquête.</p>
                      {% else %}
                      <p class="identtext">Merci d'avoir évalué tous les produits !</p>
                      <p class="identtext">Nous aimerions maintenant en savoir un peu plus sur vous.</p>
                      <p class="identtext">
                        Merci de bien vouloir <a href="{{ url_for('auth.close') }}"  style="color: red;" >cliquer ici pour répondre à notre enquête. </a>.
                      </p>
                      {% endif %}     
                    </ul>
                    <br>
                </div>
            </div>
        </div>
      </nav>
      {% endif %}
    </div>
  </body>
{% endblock %}


{% block scripts %}

  <script>
    // Define a function to handle star clicks
    function handleStarClick(stars, productId) {
        let data = new FormData();
        data.append("stars", stars);
        data.append("product_id", productId);
        fetch("/save/", {
            method: "post",
            body: data
        })
        .then(res => res.text())
        .then(txt => {
            if (txt == "OK") { location.reload(); }
            else { alert(txt); }
        });
    }

    // Loop through products and ratings arrays
    {% for i in range(products|length) %}
        starry({
          target: document.getElementById("{{ products[i].id }}"),
          max: 5,
          now: {{ ratings[i] }},
          click: stars => handleStarClick(stars, "{{ products[i].id }}")
        });
    {% endfor %}

  </script>
{% endblock %}


