.plabel {
    color:rgb(64, 65, 63);
    font-size: 25px
  }
.pnavbut {
  color: rgb(64, 65, 63);
  font-size: 30px
}
.navbar-custom {
    background-color: rgb(171, 37, 41);
}
body{ 
  background-color: rgb(237, 245, 213);
  border-radius: 25px;
}
.button{
  background-color: rgb(109, 110, 109);
  color:rgb(249, 250, 248);
}

.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}
.align {
  text-align : center;
}
.titlecolor {
  color:rgb(0, 0, 0)
}

.firstnavbar { 
  background-color:rgb(255, 255, 255)
}

.secondnavbar { 
  background-color:rgb(66, 62, 62);
  text-align: center;
}

.secondnavbut {
  color: rgb(245, 247, 243);
  font-size: 20px
}

.recommendations {
  background-color:rgb(255, 255, 255);
  border-radius: 30px;
}
.identtext {
  text-indent: 14em ;
  color: rgb(245, 247, 243);
  font-size: 25px;
}

.staridenttext{
  text-indent: 1em ;
}

.pager a {
  font-size: 25px; /* Agrandir le texte */
  padding: 25px 35px; /* Agrandir le bouton */
  border-radius: 8px; /* Coins arrondis */
  background-color: #31a251; /* Bleu Bootstrap */
  color: rgb(1, 0, 0); /* Texte en blanc */
  text-decoration: none; /* Enlever le soulignement */
  display: inline-block; /* Ajustement de l'affichage */
}
.pager a:hover {
  background-color: #28b52d; /* Bleu foncé au survol */
}